### SBT ###
# Simple Build Tool
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### intelliJ ###
*.iml
*.ipr
*.iws
.idea
out

